<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>travelgo.com</title>
    <link rel="stylesheet" href="../static/CSS/login.css">    
</head>
<body>
    <div class="outer">
        <div class="container" id="logo">
            <h3>DocVerify</h3>
        </div>
        <div class="container" id="login">
            <h2>Welcome!!!</h2>
            <form action="login1" method="post">
                <input type="text" name="username" id="username" placeholder="Enter username">
                <input type="password" name="password" id="password" placeholder="Enter password">
                <button id="lbtn">Log in</button>
            </form>
            <div class="newacc">
                <button id="cna"> <a id ='CreateAcc' href="http://localhost:3000/newAcc"> Create New Account </a></button>
            </div>
        </div>
    </div>
    <footer>
        | Developed by <a href="https://github.com/MirzaMohammadBaig">Mirza Mohammad baig</a>  | All rights reserved 
    </footer>
</body>
</html>