<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSS/register.css">
</head>
<body>
    <header>
        <div class="hcon">
            <div class="name">DocVerify</div>
            <div></div>
        </div>
       
    </header>
    <div class="container">  
        <div class="head"> <h2>Sign Up</h2></div>
        <div class="head2">It's quick and easy.</div>
        <div class="br"></div>
        <form action="signup" method="post">
            <div class="in"><input type="text" name="name" id="name" placeholder="Enter your name">
            </div>
            <div class="in"><input type="text" name="email" id="email" placeholder="Enter your email">
            </div>
            <div class="in"><input type="password" name="password" id="password" placeholder="New Password"></div>
            <div class="in"> Date of birth <input type="date" name="dob" id="dob"></div>
            
            <div class="in">
                <div><label for="gender">Gender</label></div>
                <span>
                    <label for="male">male</label>
                        <input class="gender" type="radio" name="male" id="male" >
                        
                </span>
                <span>
                    <label for="female">female</label>
                    <input class="gender" type="radio" name="female" id="female" >
                </span>
            </div>
            <div class="in" id="st1">    People who use our service may have uploaded your contact information to us. Learn more.
            </div>
            <div class="in" id="st2">By clicking Sign Up, you agree to our Terms, Privacy Policy and Cookies Policy. You may receive SMS notifications from us and can opt out at any time.Sign Up</div>
            <div class="in"><button class="btn" type="submit">Sign Up</button></div>
            
            
        </form>
    </div>

</body>
</html>