*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
header {
    margin-bottom: 20px;
}

.navbar{
    background-color: rgb(255, 119, 141);
    border-radius: 0px;
    width: inherit;
}
.navbar ul{
    overflow: auto;
    /* padding: 10px 10px; */
}
.navbar li{
    float: left;
    list-style: none;
    margin: 13px 20px;
    padding: 5px;
    
}
.navbar ul #log li:hover{
    background: rgb(230, 40, 72);

    border-radius: 3px;
}
.navbar li a{
    padding:10px 10px;
    text-decoration: none;
    color: black;
}

/* sdhfsa */
.navbar ul li h1{
    font-size: 33px;
 }
 /* kshdfaihd */


 

.navbar #log{
    float: right;
    font-weight: bold;
}

.navbar #log li{
    margin-top:21px;
    border: 1px solid black;
    border-radius: 3px;
}

.container{
     /* border: 3px solid rgb(143, 143, 143); */
     display: block;
     width: 80%;
     height: max-content;
     margin: 0px auto;
     font-family: 'Arial', 'sans-serif';
     box-shadow: rgba(168, 48, 48, 0.35) 0px 5px 15px;
     border-radius: 2px;
     margin-bottom: 40px;
}
.container1{
    display: block;
     width: 80%;
     height: max-content;
     margin: 0px auto;
     font-family: 'Arial', 'sans-serif';
     border-radius: 2px;
     margin-bottom: 40px;
}
h1{
    margin: 0px;
}
.head{
    display: block;
    width: 80%;
    margin: 0px auto;
    font-family: 'Arial', 'sans-serif';
    border-radius: 20px;
    margin-top: 40px;
}

.doc, .data, .submit{
    display: block;
    width: 90%;
    margin: 3px auto;
    text-align: center;
    /* border: 3px solid black; */
    padding: 5px 5px;
}
input{
    width: 90%;
    text-align: center;
    padding: 10px;
    font-size: medium;
    border: 0px;
    /* border-radius: 10px; */
    box-shadow: rgba(168, 48, 48, 0.35) 0px 5px 15px;
}


label{
    display: block;
    text-align: left;
    width: 91%;
    margin: 0px auto;
    padding: 3px 0px;
    font-weight: bold;
}
.dtn{
    padding: 13px;
    
    width: 30%;
    font-family: 'Arial', 'sans-serif';
    font-weight: bold;
    background-color: rgb(255, 119, 141);
    border: 0px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    box-shadow: rgba(168, 48, 48, 0.35) 0px 5px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dtn:hover{
    background-color: rgb(230, 40, 72);
}

.up{
    width: 50%;
    margin: 10px auto;
    text-align: center;
}
.doc{
    padding-top: 20px;
} 
#cert{
   
    height: 5em;
    text-decoration: none;
    width: 40%;
    margin: 10px auto;

}