*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
header {
    margin-bottom: 20px;
}

.navbar{
    background-color: rgb(255, 119, 141);
    border-radius: 0px;
    padding: 10px 2px;
    width: inherit;
}
.navbar ul{
    overflow: auto;
    /* padding: 10px 10px; */
}
.navbar li{
    float: left;
    list-style: none;
    margin: 13px 20px;
    padding: 2px;
    
}
.navbar ul li h1{
   font-size: 33px;
}
.navbar li a{
    padding:10px 10px;
    text-decoration: none;
    color: black;
}
.navbar #sb 
{
    width: 330px;
    border: 0px;
    border-radius: 4px;
}
.navbar #log{
    float: right;
    font-weight: bold;
}

.navbar #log li{
    border: 1px solid black;
    border-radius: 3px;
    display: none;  /* sidhsiahdaw*/
}


.navbar li img{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
    width: 30px;
    height: 20px;
}
.content{
    margin: 30px 60px;
    width: auto;
    text-align: justify;
}
#footer{
    text-align: center;
    padding: 10px 30px;
    margin-bottom: 0px;

}
body{
    background-image: url(https://img.freepik.com/premium-photo/gray-calathea-lutea-leaf-patterned-background_53876-149681.jpg?w=900);
}
button{
    background-color: pink;
    border : 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}




.login{
    margin: 30px 60px;
    width: auto;
    text-align: justify;
}

.ali{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding: 10px 5px;
    margin: 5px 0px;
    border: 0px solid black;
    background-color: rgb(255, 119, 141);
    width: 10%;
    box-shadow: rgba(56, 53, 53, 0.35) 0px 5px 15px;
}
.ali:hover{
    background: pink;

    border-radius: 3px;
}