*{
    margin: 0px;
}
header{
    display: flex;
    align-items: center;
    text-align: center;
}
.hcon{
    display: inline-flex;
    /* border: blue solid 3px/; */
    padding:  10px;
    padding-bottom: 0px;
    width: 30%;
    margin: 10px auto;
    margin-top: 20px;
    margin-bottom: 0px;
}
.logo{
    background-image: url('../logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 100px;
    /* border: 3px solid black; */
    margin-bottom: 0px;
}
.name{
    /* border: 3px solid black; */
    width: 70%;
    text-align: center;
    /* padding: 20px; */
    padding-top: 15px;
    padding-bottom: 0px; 
    font-size: 60px;
    font-weight: bold;
    font-family: 'Arial', 'sans-serif';
    margin-bottom: 0px;
}


footer{
    background-color: black;
    text-align: center;
    color: rgb(155, 158, 160);
    height: 80px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top: 30px;
}
footer a{
    text-decoration: none;
    color: rgb(155, 158, 160);;
}


.container{
    /* border: 3px solid rgb(143, 143, 143); */
    display: block;
    width: 30%;
    height: 29em;
    margin: 0px auto;
    font-family: 'Arial', 'sans-serif';
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin-bottom: 40px;
}
.br{
    border: 1px solid grey;
    background-color: gray;
}
.head, .head2{
 margin: 2px 5px;
 padding: 0px 5px;
}

input{
    font-size: 1.4em;
    padding: 7px ;
    margin: 1px auto;
    text-align: center;
    width: 90%;
    border-radius: 10px;
    border: 1px solid rgb(143, 143, 143);
    font-family: 'Arial', 'sans-serif';
    box-shadow: rgba(119, 118, 118, 0.35) 0px 5px 15px;
}
.gender{
    width: auto;
    font-family: 'Arial', 'sans-serif';
}
.in{
    text-align: center;
    padding: 2px 2px;
    margin: 2px 2px;
    font-family: 'Arial', 'sans-serif';
}
.btn{
    padding: 13px;
    /* display: block; */
    width: 30%;
    font-family: 'Arial', 'sans-serif';
    font-weight: bold;
    background-color: rgb(35, 207, 35);
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10px;
}
.btn:hover{
    background-color: rgb(16, 170, 16);

}
#st1, #st2{
    font-size: 10px;
    color: rgb(129, 129, 129);
}